<%- include("templates/header",{titulopag:'Pagina de inicio'}) %>
<br>
<DIV id="cuerpo" style="overflow-x:auto;">
    <body>
        <p style="Padding:10px;">Vista general de la base de datos: AdminSystemDB</p>
        <table style="margin-left:auto; margin-right:auto; padding-top:10px; width:auto;">
            <tr>
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/almacenes'">Alamcenes<br><i class="material-icons">warehouse</i></td>            
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/clientes'">Clientes<br><i class="material-icons">group</i></td>            
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/productos'">Productos<br><i class="material-icons">inventory_2</i></td>            
            </tr>
            <tr>
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/origenes'">Orígenes<br><i class="material-icons">flight_takeoff</i></td>            
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/facturas'">Facturas<br><i class="material-icons">receipt_long</i></td>            
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/destinos'">Destinos<br><i class="material-icons">flight_land</i></td>            
            </tr>
            <tr>
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/envios'">Envios<br><i class="material-icons">outbox</i></td>            
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/trabajadores'">Trabajadores<br><i class="material-icons">connect_without_contact</i></td>            
                <td style="padding:50px; text-align:center" onclick="location.href='/Tablas/sueldos'">Sueldos<br><i class="material-icons">payments</i></td>            
            </tr>

            
            
        </table>
    </body>
</DIV>


<%- include("templates/footer"); %>