<%- include("templates/header",{titulopag:'Secci칩n de bajas'})%>
 <br>
<DIV id="formulario-Delete" style="text-align:center;">
    <H1>Secci칩n de baja de registros</H1>
    <br>
    <br>
    <form class="formstyle" action="/Operaciones/bajas" method="post">
        <label for="nombre-tabla">Selecciona el nombre de la tabla donde se har치 la eliminaci칩n de datos: </label>
        <br><br><br><br>
        <select name="nombre-tabla" id="slct-tbl">
            <option value="almacenes">almacenes</option>
            <option value="clientes">clientes</option>
            <option value="productos">productos</option>
            <option value="origen_e">Origenes</option>
            <option value="facturas">facturas</option>
            <option value="destino_e">Destinos</option>
            <option value="envios">envios</option>
            <option value="trabajadores">trabajadores</option>
            <option value="sueldos">sueldos</option>
        </select>
        <br>
        <br>
        <button type="button" id="button-next" name="button-next">Siguiente</button>
    </form><br><br>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-almacenes' name='almacenes' style="display:none">
        <input type="text" name="nombreTabla" value="almacenes" disabled><br>
        <input type="text" name="id_a" placeholder="ID"> <br>
    <button type="submit" name="btn_valor" id="btn_valor" value="almacenes">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-clientes' name='clientes' style="display:none">
        <input type="text" name="nombreTabla" value="clientes" disabled><br>
        <input type="text" name="id_c" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="clientes">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-productos' name='productos' style="display:none">
        <input type="text" name="nombreTabla" value="productos" disabled><br>
        <input type="text" name="id_p" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="productos">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Origenes' name='Origenes' style="display:none">
        <input type="text" name="nombreTabla" value="origen_e" disabled><br>
        <input type="text" name="id_o" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="origen_e">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-facturas' name='facturas' style="display:none">
        <input type="text" name="nombreTabla" value="facturas" disabled><br>
        <input type="text" name="id_f" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="facturas">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Destinos' name='Destinos' style="display:none">
        <input type="text" name="nombreTabla" value="destino_e" disabled><br>
        <input type="text" name="id_d" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="destino_e">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-envios' name='envios' style="display:none">
        <input type="text" name="nombreTabla" value="envios" disabled><br>
        <input type="text" name="id_e" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="envios">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-trabajadores' name='trabajadores' style="display:none">
        <input type="text" name="nombreTabla" value="trabajadores" disabled><br>
        <input type="text" name="id_t" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="trabajadores">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-sueldos' name='sueldos' style="display:none">
        <input type="text" name="nombreTabla" value="sueldos" disabled><br>
        <input type="text" name="id_s" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="sueldos">Baja</button>
    </form>
    
    <SCRIPT>
        const btn = document.getElementById('button-next');
        btn.addEventListener('click', ()=>{
            const formalmacenes = document.getElementById('F-almacenes');
            const formclientes = document.getElementById('F-clientes');
            const formproductos = document.getElementById('F-productos');
            const formOrigenes = document.getElementById('F-Origenes');
            const formfacturas = document.getElementById('F-facturas');
            const formDestinos = document.getElementById('F-Destinos');
            const formenvios = document.getElementById('F-envios');
            const formtrabajadores = document.getElementById('F-trabajadores');
            const formsueldos = document.getElementById('F-sueldos');

            const nametable = document.getElementById('slct-tbl').value;
            console.log(nametable);
            switch(nametable){
                case "almacenes":
                    formalmacenes.style.display = "block";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "clientes":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "block";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "productos":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "block";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "origen_e":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "block";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "facturas":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "block";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "destino_e":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "block";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "envios":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "block";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "trabajadores":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "block";
                    formsueldos.style.display = "none";
                    break;
                case "sueldos":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "block";
                    break;
            }
    }); 
    </SCRIPT>

</DIV>

<%-include("templates/footer")%>