<%- include("templates/header",{titulopag:'Sección de cambios'})%>
 <br>
<DIV id="formulario-Insert" style="text-align:center;">
    <H1>Sección de cambios en registros</H1>
    <br>
    <br>
    <form class="formstyle" action="/Operaciones/cambios" method="post">
        <label for="nombre-tabla">Selecciona el nombre de la tabla donde se hará el cambio de datos: </label>
        <br><br><br><br>
        <select name="nombre-tabla" id="slct-tbl">
            <option value="almacenes">almacenes</option>
            <option value="clientes">clientes</option>
            <option value="productos">productos</option>
            <option value="origen_e">Origenes</option>
            <option value="facturas">facturas</option>
            <option value="destino_e">Destinos</option>
            <option value="envios">envios</option>
            <option value="trabajadores">trabajadores</option>
            <option value="sueldos">sueldos</option>
        </select>
        <br>
        <br>
        <button type="button" id="button-next" name="button-next">Siguiente</button>
    </form><br><br>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-almacenes' name='almacenes' style="display:none">
        <input type="text" name="nombreTabla" value="almacenes" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_a" placeholder="ID"> <br>
        <input type="text" name="cap_total" placeholder="Capacidad total"><br>
        <input type="text" name="cap_actual" placeholder="Capacidad actual"><br>
        <input type="text" name="id_o" placeholder="ID de origen"><br><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="almacenes">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-clientes' name='clientes' style="display:none">
        <input type="text" name="nombreTabla" value="clientes" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_c" placeholder="ID"><br>
        <input type="text" name="nombre_c" placeholder="Nombre"><br>
        <input type="text" name="apepat_c" placeholder="Apellido Paterno"><br>
        <input type="text" name="apemat_c" placeholder="Apellido Materno"><br>
        <input type="text" name="clave_pedidos" placeholder="Clave Cliente"><br>
        <input type="text" name="id_d" placeholder="ID de origen"><br><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="clientes">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-productos' name='productos' style="display:none">
        <input type="text" name="nombreTabla" value="productos" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_p" placeholder="ID"><br>
        <input type="text" name="id_a" placeholder="ID Almacén"><br>
        <input type="text" name="nombre_p" placeholder="Nombre de producto"><br>
        <input type="text" name="descripcion_p" placeholder="Descripción de producto"><br>
        <input type="text" name="precio_p" placeholder="Precio"><br>
        <input type="text" name="stock_p" placeholder="Stock"><br><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="productos">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-Origenes' name='Origenes' style="display:none">
        <input type="text" name="nombreTabla" value="origen_e" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_o" placeholder="ID"><br>
        <input type="text" name="dir_origen" placeholder="Direccion de ori<br>gen"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="origen_e">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-facturas' name='facturas' style="display:none">
        <input type="text" name="nombreTabla" value="facturas" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_f" placeholder="ID"><br>
        <input type="text" name="id_c" placeholder="ID Cliente"><br>
        <input type="text" name="id_p" placeholder="ID Producto"><br>
        <input type="text" name="cant" placeholder="Cantidad"><br>
        <input type="text" name="precio_p" placeholder="Precio Unitario"><br>
        <input type="text" name="total" placeholder="Total"><br>
        <input type="text" name="id_e" placeholder="ID envio"><br><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="facturas">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-Destinos' name='Destinos' style="display:none">
        <input type="text" name="nombreTabla" value="destino_e" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_d" placeholder="ID"><br>
        <input type="text" name="dir_destino" placeholder="Direccion de des<br>tino"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="destino_e">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-envios' name='envios' style="display:none">
        <input type="text" name="nombreTabla" value="envios" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_e" placeholder="ID"><br>
        <input type="text" name="id_o" placeholder="ID Origen"><br>
        <input type="text" name="id_d" placeholder="ID Destino"><br><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="envios">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-trabajadores' name='trabajadores' style="display:none">
        <input type="text" name="nombreTabla" value="trabajadores" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_t" placeholder="ID"><br>
        <input type="text" name="nombre_t" placeholder="Nombre"><br>
        <input type="text" name="apepat_t" placeholder="Apellido paterno"><br>
        <input type="text" name="apemat_t" placeholder="Apellido materno"><br><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="trabajadores">Alta</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/cambios" method="post" id='F-sueldos' name='sueldos' style="display:none">
        <input type="text" name="nombreTabla" value="sueldos" disabled><br>
        <input type="text" name="id_modificar"  placeholder="ID del registro a modificar"><br>
        <input type="text" name="id_s" placeholder="ID"><br>
        <input type="text" name="id_t" placeholder="ID Trabajador"><br>
        <input type="text" name="comision" placeholder="Comisión"><br>
        <input type="text" name="trabajos_realizados" placeholder="Trabajos realizados"><br>
        <input type="text" name="sueldo_estimado" placeholder="Sueldo est<br>imado"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="sueldos">Alta</button>
    </form>
    
    <SCRIPT>
        const btn = document.getElementById('button-next');
        btn.addEventListener('click', ()=>{
            const formalmacenes = document.getElementById('F-almacenes');
            const formclientes = document.getElementById('F-clientes');
            const formproductos = document.getElementById('F-productos');
            const formOrigenes = document.getElementById('F-Origenes');
            const formfacturas = document.getElementById('F-facturas');
            const formDestinos = document.getElementById('F-Destinos');
            const formenvios = document.getElementById('F-envios');
            const formtrabajadores = document.getElementById('F-trabajadores');
            const formsueldos = document.getElementById('F-sueldos');

            const nametable = document.getElementById('slct-tbl').value;
            console.log(nametable);
            switch(nametable){
                case "almacenes":
                    formalmacenes.style.display = "block";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "clientes":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "block";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "productos":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "block";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "origen_e":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "block";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "facturas":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "block";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "destino_e":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "block";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "envios":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "block";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "none";
                    break;
                case "trabajadores":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "block";
                    formsueldos.style.display = "none";
                    break;
                case "sueldos":
                formalmacenes.style.display = "none";
                    formclientes.style.display = "none";
                    formproductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formfacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formenvios.style.display = "none";
                    formtrabajadores.style.display = "none";
                    formsueldos.style.display = "block";
                    break;
            }
    }); 
    </SCRIPT>

</DIV>

<%-include("templates/footer")%>