<%- include("templates/header",{titulopag:'Almacenes'})%>
<h1>Vista de las fragmentaciones actuales creadas</h1>
<table style="margin-left:auto; margin-right:auto; padding-top:10px; width:80%; border: 1px solid; text-align:center;">
    <tr>
        <td>Fragmentación de la tabla productos donde los precios son mayores a $1000</td>
    </tr>
    <tr>
        <td>Hola</td>
    </tr>
    <tr>
        <td>Fragmentación de la tabla productos donde el stock es mayor a 100 unidades</td>
    </tr>
    <tr>
        <td>Hola</td>
    </tr>
    <tr>
        <td>Fragmentación de la tabla facturas donde el precio de los productos comprados se encuentre en el rango de $1500 a $3000</td> 
    </tr>
    <tr>
        <td>Hola</td>
    </tr>
    <tr>
        <td>Fragmentación de la tabla sueldos donde el sueldo estimado sea mayor a $2000</td>
    </tr>
    <tr>
        <td>Hola</td>
    </tr>
    <tr>
        <td>Fragmentación de la tabla clientes que pertenezcan al estado de Aguascalientes</td>
    </tr>
    <tr>
        <td>Hola</td>
    </tr>
    
</table>

<%- include("templates/footer")%>