<%- include("templates/header",{titulopag:'Secci칩n de bajas'})%>
 <br>
<DIV id="formulario-Delete" style="text-align:center;">
    <H1>Secci칩n de baja de registros</H1>
    <br>
    <br>
    <form class="formstyle" action="/Operaciones/bajas" method="post">
        <label for="nombre-tabla">Selecciona el nombre de la tabla donde se har치 la eliminaci칩n de datos: </label>
        <br><br><br><br>
        <select name="nombre-tabla" id="slct-tbl">
            <option value="Almacenes">Almacenes</option>
            <option value="Clientes">Clientes</option>
            <option value="Productos">Productos</option>
            <option value="Origen_E">Origenes</option>
            <option value="Facturas">Facturas</option>
            <option value="Destino_E">Destinos</option>
            <option value="Envios">Envios</option>
            <option value="Trabajadores">Trabajadores</option>
            <option value="Sueldos">Sueldos</option>
        </select>
        <br>
        <br>
        <button type="button" id="button-next" name="button-next">Siguiente</button>
    </form><br><br>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Almacenes' name='Almacenes' style="display:none">
        <input type="text" name="nombreTabla" value="Almacenes" disabled><br>
        <input type="text" name="id_a" placeholder="ID"> <br>
    <button type="submit" name="btn_valor" id="btn_valor" value="Almacenes">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Clientes' name='Clientes' style="display:none">
        <input type="text" name="nombreTabla" value="Clientes" disabled><br>
        <input type="text" name="id_c" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="Clientes">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Productos' name='Productos' style="display:none">
        <input type="text" name="nombreTabla" value="Productos" disabled><br>
        <input type="text" name="id_p" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="Productos">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Origenes' name='Origenes' style="display:none">
        <input type="text" name="nombreTabla" value="Origen_E" disabled><br>
        <input type="text" name="id_o" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="Origen_E">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Facturas' name='Facturas' style="display:none">
        <input type="text" name="nombreTabla" value="Facturas" disabled><br>
        <input type="text" name="id_f" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="Facturas">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Destinos' name='Destinos' style="display:none">
        <input type="text" name="nombreTabla" value="Destino_E" disabled><br>
        <input type="text" name="id_d" placeholder="ID"><br>
    <button type="submit" name="btn_valor" id="btn_valor" value="Destino_E">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Envios' name='Envios' style="display:none">
        <input type="text" name="nombreTabla" value="Envios" disabled><br>
        <input type="text" name="id_e" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="Envios">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Trabajadores' name='Trabajadores' style="display:none">
        <input type="text" name="nombreTabla" value="Trabajadores" disabled><br>
        <input type="text" name="id_t" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="Trabajadores">Baja</button>
    </form>
    
    <form class="formstyle" action="/Operaciones/bajas" method="post" id='F-Sueldos' name='Sueldos' style="display:none">
        <input type="text" name="nombreTabla" value="Sueldos" disabled><br>
        <input type="text" name="id_s" placeholder="ID"><br>

    <button type="submit" name="btn_valor" id="btn_valor" value="Sueldos">Baja</button>
    </form>
    
    <SCRIPT>
        const btn = document.getElementById('button-next');
        btn.addEventListener('click', ()=>{
            const formAlmacenes = document.getElementById('F-Almacenes');
            const formClientes = document.getElementById('F-Clientes');
            const formProductos = document.getElementById('F-Productos');
            const formOrigenes = document.getElementById('F-Origenes');
            const formFacturas = document.getElementById('F-Facturas');
            const formDestinos = document.getElementById('F-Destinos');
            const formEnvios = document.getElementById('F-Envios');
            const formTrabajadores = document.getElementById('F-Trabajadores');
            const formSueldos = document.getElementById('F-Sueldos');

            const nametable = document.getElementById('slct-tbl').value;
            console.log(nametable);
            switch(nametable){
                case "Almacenes":
                    formAlmacenes.style.display = "block";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Clientes":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "block";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Productos":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "block";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Origen_E":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "block";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Facturas":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "block";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Destino_E":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "block";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Envios":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "block";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "none";
                    break;
                case "Trabajadores":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "block";
                    formSueldos.style.display = "none";
                    break;
                case "Sueldos":
                formAlmacenes.style.display = "none";
                    formClientes.style.display = "none";
                    formProductos.style.display= "none";
                    formOrigenes.style.display = "none";
                    formFacturas.style.display = "none";
                    formDestinos.style.display = "none";
                    formEnvios.style.display = "none";
                    formTrabajadores.style.display = "none";
                    formSueldos.style.display = "block";
                    break;
            }
    }); 
    </SCRIPT>

</DIV>

<%-include("templates/footer")%>