<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulopag %></title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylo.css">
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<DIV>
    <header id="cabecera">
        <h1 onclick="location.href='/'">Admin System</h1>
        <h5>By MYDG</h5>
        <ul class="d-flex justify-content-center">
            <li onclick="location.href='/Operaciones/altas'">Dar registro de alta</li>
            <li onclick="location.href='/Operaciones/bajas'">Dar registro de baja</li>
            <li onclick="location.href='/Operaciones/cambios'">Actualizar registro</li>
            <li onclick="location.href='/Operaciones/fragmentar'">Fragmentaciones actuales</li>
            <li onclick="location.href='/Operaciones/replicar'">Generar réplicas</li> 
        </ul>
    </header>
</DIV>